@import url(./vendor/normalize.css);
@import url(./vendor/font.css);

/* -------------------- */
/*    Utility classes   */
/* -------------------- */

:root {
  /* colors */
  --clr-white: #FFFFFF;
}

.page {
  max-width: 1440px;
  font-family: 'Nunito Sans', Arial, sans-serif;
  background: linear-gradient(180deg, #70A8DC 0%, #F0F2F3 79.69%);
  background-repeat: no-repeat;
  color: var(--clr-white);
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1268px;
  margin: 0 auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (max-width: 1380px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 938px) {
  .container {
    max-width: 83%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}

.diabetes {
  padding-bottom: 60px;
}

.diabetes__header {
  padding: 86px 0 54px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.diabetes__main-illustration {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.diabetes__title {
  font-weight: 700;
  font-size: 58px;
  line-height: normal;
  color: var(--clr-white);
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: right;
}

.diabetes__subtitle {
  font-weight: 400;
  display: block;
}

@media (max-width: 1280px) {
  .diabetes__title {
    font-size: 41.225px;
  }
  .diabetes__main-illustration {
    width: 354px;
    height: 269px;
  }
}

@media (max-width: 650px) {
  .diabetes__header {
    padding-top: 18px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
  }
  .diabetes__main-illustration {
    width: 214px;
    height: 163px;
  }
  .diabetes__title {
    font-size: 25.739px;
    text-align: center;
  }
}

.diabetes__content {
  margin-bottom: 50px;
}

.diagnosis__title {
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  color: #70A8DC;
  padding: 30px;
  margin: 0 0 32px;
  text-transform: uppercase;
  text-align: center;

  border-radius: 16px;
  background: #FFF;
  filter: drop-shadow(7px 9px 31px rgba(13, 81, 144, 0.45));
}

@media (max-width: 1280px) {
  .diagnosis__title {
    font-size: 24.101px;
    padding: 18px;
    border-radius: 9.64px;
    margin-bottom: 19px;
  }
}

@media (max-width: 650px) {
  .diagnosis__title {
    font-size: 11.703px;
    padding: 9px;
    border-radius: 4.681px;
    margin-bottom: 9px;
  }
  .diabetes__content {
    margin-bottom: 28px;
}
}

.diagnosis__tablist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 58px;
}

.tab {
  min-width: calc(608/1268 *100%);
}

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  transition: all .3s linear;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: transparent;
}

.tab__button {
  width: 100%;
  padding: 14.5px;
  color: #70A8DC;
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;

  border-radius: 16px;
  background: #FFF;
  filter: drop-shadow(7px 9px 31px rgba(13, 81, 144, 0.45));
}

.tab__button[aria-selected="true"] {
  background: #CFE2F3;
}

.tab__button:active {
  transform: scale(0.95);
}

@media (max-width: 1280px) {
  .diagnosis__tablist {
    margin-bottom: 42px;
}
  .tab__button {
    font-size: 24.101px;
    padding: 9px;
    border-radius: 9.64px;
  }
}

@media (max-width: 650px) {
  .diagnosis__tablist {
    margin-bottom: 16px;
}
  .tab__button {
    font-size: 11.703px;
    padding: 4px;
    border-radius: 4.681px;
  }
}

.diagnosis__info {
  font-weight: 700;
  font-size: 34px;
  line-height: normal;
  letter-spacing: -0.83px;
  text-align: justify;
  color: #0D64A4;
  padding: 0;
  margin: 0 0 38px;
}

.diagnosis__remark {
  font-weight: 600;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: justify;
  color: #0D64A4;
  padding: 0;
  margin: 0 0 52px;
}

.diagnosis__advices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 48px;
  row-gap: 63px;
}

.advice {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.advice:first-child::after {
  content: "";
  display: block;
  position: absolute;
  width: 5%;
  height: 105%;
  background-image: url(./images/line_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: -1%;
  right: -7%;
}

.advice:last-child {
  flex-basis: 100%;
}

.advice__title {
  font-weight: 900;
  font-size: 36px;
  line-height: normal;
  letter-spacing: -0.54px;
  color: #0D64A4;
  padding: 20px 33px 16px 41px;
  margin: 0 auto -13px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 16px;
  background: #FFF;
  filter: drop-shadow(7px 9px 31px rgba(13, 81, 144, 0.45));
  width: fit-content;
}

.advice__content {
  border-radius: 25px;
  background: #FFF;
  box-shadow: 7px 9px 31px 0px rgba(13, 81, 144, 0.45);
  padding: 55px 30px 56px 50px;
  box-sizing: border-box;
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  color: #70A8DC;
  min-height: 700px;
  height: 100%;
}

.advice_type_medicines .advice__content {
  padding-bottom: 20px;
}

.advice__text {
  margin: 0 0 24px;
  padding: 0;
}

.advice__list {
  list-style-type: disc;
  padding-left: 38px;
  margin: 0 0 24px;
}

.advice__recommendations {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.recommendation {
  display: flex;
  gap: 30px;
  align-items: center;
}

.recommendation_type_column {
  flex-direction: column;
  align-items: flex-start;
}

.recommendation__image {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.recommendation__title {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 900;
}

.recommendation__subtitle {
  font-weight: 700;
  display: block;
}

.recommendation__content {
  display: flex;
  gap: 30px;
  align-items: center;
}

.medicines {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding-left: 120px;
}

.medicine {
  border-radius: 16px;
  background: #9FC5E8;
  filter: drop-shadow(7px 9px 31px rgba(13, 81, 144, 0.45));
  min-width: 286px;
  padding: 6px;
  box-sizing: border-box;
  text-align: center;
}

.medicine__link {
  color: #FFF;
  font-size: 34px;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

.advice__note {
  margin: 0;
  padding: 0;
  color: #70A8DC;
  font-size: 21px;
  font-weight: 600;
  line-height: normal;
}

.advice_type_medicines .advice__recommendations {
  margin-bottom: 43px;
}

.diagnosis__symptoms {
  padding: 34px 42px 30px 43px;
  box-sizing: border-box;
  border-radius: 25px;
  background: #FFF;
  box-shadow: 7px 9px 31px 0px rgba(13, 81, 144, 0.45);
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  color: #70A8DC;
  margin: 0 0 38px;
}

.diagnosis__subtitle {
  color: #0D64A4;
  text-align: center;
  font-size: 34px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.17px;
  margin: 0 0 68px;
  padding: 0;
}

.diagnosis__symptoms-list {
  display: grid;
  gap: 32px;
  row-gap: 62px;
  grid-template-columns: repeat(auto-fill, minmax(401px, 1fr));
  margin-bottom: 80px;
}

.symptom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 263px;
}

.symptom__title {
  color: #FA576B;
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  padding: 12.5px;
  box-sizing: border-box;
  border-radius: 16px;
  background: #FFF;
  filter: drop-shadow(7px 9px 31px rgba(13, 81, 144, 0.45));
  width: 100%;
  margin: 0;
  text-align: center;
}

.diagnosis__warning {
  color: #0D64A4;
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.17px;
  margin: 0 0 44px;
  padding: 0;
}

.diagnosis__warning:last-child {
  margin-bottom: 66px;
}

@media (max-width: 1280px) {
  .diagnosis__info {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .diagnosis__tabpanel[id="tabpanel-2"] .diagnosis__info {
    text-align: center;
  }
  .diagnosis__remark {
    font-size: 21px;
    margin-bottom: 45px;
  }
  .diagnosis__advices {
    column-gap: 30px;
    row-gap: 55px;
  }
  .advice__title {
    font-size: 22px;
    padding: 12px 6px 9px 11px;
    border-radius: 9.685px;
    margin-bottom: -7px;
  }
  .advice__content {
    padding: 33px 8px 33px 30px;
    font-size: 18px;
    min-height: 453px;
    border-radius: 15.133px;
  }
  .advice__text {
    margin-bottom: 10px;
  }
  .advice__list {
    padding-left: 16px;
    margin-bottom: 18px;
  }
  .recommendation {
    gap: 16px;
  }
  .recommendation__image {
    max-width: 51px;
    max-height: 51px;
  }
  .recommendation__title {
    font-size: 18px;
  }
  .medicines {
    gap: 21.65px;
    padding-left: 76px;
  }
  .medicine {
    min-width: 193.5px;
    border-radius: 10.826px;
  }
  .medicine__link {
    font-size: 23.005px;
  }
  .advice__note {
    font-size: 12px;
  }
  .diagnosis__symptoms-list {
    grid-template-columns: repeat(auto-fill, minmax(271px, 1fr));
    gap: 19px;
  }
  .symptom__image {
    max-width: 111px;
    max-height: 111px;
  }
  .diagnosis__symptoms {
    padding: 28px 38px 28px 44px;
    font-size: 21px;
  }
  .diagnosis__subtitle {
    font-size: 28px;
  }
  .symptom {
    min-height: 160px;
  }
  .symptom__title {
    font-size: 14.491px;
    padding: 7.5px;
    border-radius: 9.661px;
  }
  .diagnosis__warning {
    font-size: 21px;
  }
}

@media (max-width: 862px) {
  .advice {
    flex-basis: 100%;
  }
  .advice__content {
    min-height: auto;
  }
  .advice:first-child::after {
    background-image: url(./images/line_icon_mobile.svg);
    top: 8%;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: bottom center;
  }
  .diagnosis__symptoms-list {
    grid-template-columns: repeat(auto-fill, minmax(242px, 1fr));
    gap: 19px;
  }
}

@media (max-width: 650px) {
  .diagnosis__info {
    font-size: 16px;
    margin-bottom: 8px;
    letter-spacing: normal;
  }
  .diagnosis__remark {
    font-size: 11px;
    margin-bottom: 26px;
  }
  .diagnosis__advices {
    row-gap: 38px;
  }
  .advice__title {
    font-size: 16px;
    padding: 9px 14px 11px;
    border-radius: 7.24px;
    margin-bottom: -14px;
  }
  .advice__content {
    padding: 29px 32px 29px 26px;
    font-size: 14px;
    min-height: 351px;
    border-radius: 13.129px;
  }
  .advice__recommendations {
    gap: 8px;
  }
  .recommendation__content {
    gap: 15px;
  }
  .recommendation__title {
    font-size: 14px;
  }
  .recommendation__image {
    max-width: 44px;
    max-height: 44px;
  }
  .medicines {
    gap: 5px;
    flex-direction: column;
    padding-left: 59px;
  }
  .medicine {
    min-width: 114px;
    border-radius: 4.252px;
    padding: 4px;
  }
  .medicine__link {
    font-size: 14px;
  }
  .advice__note {
    font-size: 10px;
  }
  .diagnosis__symptoms {
    padding: 23px 26px;
    font-size: 14px;
    text-align: justify;
  }
  .diagnosis__symptoms-list {
    gap: 31px;
    margin-bottom: 50px;
}
  .diagnosis__subtitle {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .symptom {
    min-height: 130px;
  }
  .symptom__title {
    font-size: 12.246px;
    padding: 6px;
    border-radius: 8.164px;
    width: 55%;
  }
  .symptom__image {
    max-width: 94px;
    max-height: 94px;
  }
  .diagnosis__warning {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .diagnosis__warning:last-child {
    margin-bottom: 30px;
  }
  .advice_type_medicines .advice__recommendations {
    margin-bottom: 24px;
  }
}

.diabetes__copyright {
  font-weight: 700;
  font-size: 21px;
  line-height: normal;
  /* letter-spacing: 0.42px; */
  color: #A9A9A9;
  padding: 0;
  margin: 0;
}

.diabetes__copyright-link {
  color: inherit;
}

@media (max-width: 1280px) {
  .diabetes__copyright {
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .diabetes__copyright {
    font-size: 10px;
  }
}
