@import url(./vendor/normalize.css);
@import url(./vendor/font.css);

/* -------------------- */
/*    Utility classes   */
/* -------------------- */

:root {
  /* colors */
  --clr-bg-primary: #E9E9E9;
  --clr-bg-secondary: rgba(245, 245, 245, 0.7);
  --clr-bg-tertiary: #5B91DE;
  --clr-white: #FFFFFF;
  --clr-text-primary: rgba(0, 0, 0, 0.85);
  --clr-accent: #F97410;
  --clr-hover-main: rgba(0, 0, 0, 0.55);
  --clr-transparent: transparent;
}

.page {
  max-width: 1400px;
  font-family: 'Yandex Sans Text', Arial, sans-serif;
  background: var(--clr-bg-primary);
  color: var(--clr-text-primary);
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html:has(.popup_opened) {
  overflow: hidden;
}

.no-scroll {
  width: initial;
  height: auto;
  position: static;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.section {
  background: var(--clr-white);
  border-radius: 12px;
  margin-bottom: 12px;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (max-width: 1280px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 540px) {
  .container {
    max-width: 95%;
  }
  .section {
    margin-bottom: 8px;
    border-radius: 5px;
  }
}

/* -------------------- */
/*      Typography      */
/* -------------------- */

.site-title {
  font-weight: 400;
  font-size: 46px;
  line-height: 110%;
  letter-spacing: -0.01em;
  padding: 0;
  margin: 0;
}

.site-subtitle {
  font-weight: 400;
  font-size: 28px;
  line-height: 110%;
  letter-spacing: -0.01em;
}

.section-title {
  font-weight: 400;
  font-size: 44px;
  line-height: 110%;
  padding: 0;
  margin: 0 auto;
  max-width: 70%;
  text-align: center;
}

.section-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  padding: 0;
  margin: 0;
}

.section-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  padding: 0;
  margin: 0;
}

.item-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.01em;
  padding: 0;
  margin: 0;
}

.card-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  letter-spacing: -0.01em;
  padding: 0;
  margin: 0;
}

.item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.01em;
  padding: 0;
  margin: 0;
}

.button-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  padding: 0;
  margin: 0;
}

@media (max-width: 1280px) {
  .site-title {
    font-size: 40px;
  }
  .site-subtitle {
    font-size: 26px;
  }
  .section-title {
    font-size: 37px;
  }
  .section-text {
    font-size: 16px;
  }
  .item-title {
    font-size: 28px;
  }
  .card-title {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .site-title {
    font-size: 27px;
  }
  .section-title {
    font-size: 30px;
  }
  .section-subtitle {
    font-size: 16px;
    line-height: 130%;
  }
  .section-text {
    font-size: 14px;
  }
  .item-title {
    font-size: 20px;
  }
  .item-text {
    font-size: 14px;
  }
  .card-title {
    font-size: 16px;
  }
}

@media (max-width: 540px) {
  .section-title {
    max-width: 100%;
  }
}

/* -------------------- */
/*Interactive components*/
/* -------------------- */

.link {
  text-decoration: none;
  color: inherit;
  transition: color .2s ease-in-out;
}

.link:hover {
}

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-style: none;
  background-color: var(--clr-transparent);
  cursor: pointer;
  box-sizing: border-box;
  transition: all .3s linear;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: transparent;
}

.button_type_main {
  padding: 18px 0;
  border-radius: 6px;
  background-color: var(--clr-text-primary);
  min-width: 164px;
  color: var(--clr-white);
}

.button_type_main:hover {
  background-color: var(--clr-hover-main);
}

.button_theme_light {
  background-color: var(--clr-white);
  color: var(--clr-accent);
}

.button_theme_light:hover {
  background-color: #EBE9E9;
}

.slide-arrow {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border: 2px solid var(--clr-accent);
  border-radius: 120px;
  background-color: var(--clr-transparent);
  outline: var(--clr-transparent);
  transition: all .5s linear;
}

.slide-arrow_prev {
  margin-right: 20px;
}

.slide-arrow_prev:after {
  position: absolute;
  top: 12px;
  left: 14px;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-left: 2px solid var(--clr-accent);
  border-bottom: 2px solid var(--clr-accent);
  transform: rotate(45deg);
  transition: all .5s linear;
}

.slide-arrow_next:after {
  position: absolute;
  top: 12px;
  left: 70px;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-left: 2px solid var(--clr-accent);
  border-bottom: 2px solid var(--clr-accent);
  transform: rotate(225deg);
  transition: all .5s linear;
}

.slide-arrow_next:hover:after,
.slide-arrow_prev:hover:after {
  border-left: 2px solid rgb(249 116 16 / 0.6);
  border-bottom: 2px solid rgb(249 116 16 / 0.6);
}

.slide-arrow:hover {
  border-color: rgb(249 116 16 / 0.6);
}

.slide-arrow:focus-visible {
  box-shadow: 0 0 0 1px var(--clr-accent);
}

.slide-arrow_disabled {
  border: 2px solid rgb(249 116 16 / 0.2);
  cursor: default;
  transition: all .5s linear;
}

.slide-arrow_disabled::after {
  border-left: 2px solid rgb(249 116 16 / 0.2);
  border-bottom: 2px solid rgb(249 116 16 / 0.2);
}

.slide-arrow_disabled:hover {
  border: 2px solid rgb(249 116 16 / 0.2);
}

.slide-arrow_disabled:hover:after {
  border-left: 2px solid rgb(249 116 16 / 0.2);
  border-bottom: 2px solid rgb(249 116 16 / 0.2);
}

.slide-arrow_disabled:focus-visible {
  box-shadow: none;
}

.slider {
  overflow: hidden;
}

.slider__container {
  transition: transform 0.4s;
}

.button_type_close {
  width: 36px;
  height: 36px;
  background-color: var(--clr-white);
  box-shadow: 0px 8px 32px rgba(36, 36, 36, 0.06);
  border-radius: 100px;
  background-image: url(./images/plus-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
  right: 10px;
  transition: background-color .5s ease-in-out;
}

.button_type_close:hover {
  background-color: var(--clr-bg);
  cursor: pointer;
}

@media (max-width: 768px) {
  .control-buttons {
    display: none;
  }
  .slider__container {
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }
  /* WebKit */
  .slider__container::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@media (max-width: 540px) {
  .button_type_main {
    width: 100%;
    padding: 12px 0;
    border-radius: 4px;
  }
  .button_type_secondary {
    border-radius: 4px;
    padding: 9px 0;
  }
}

/* -------------------- */
/*      Components      */
/* -------------------- */

/* Header */

.header {
}

.header__content {
  padding: 18px 0;
  margin: 0 auto 20px;
}

.logo {
  display: block;
}

@media (max-width: 540px) {
  .header__content {
    padding: 16px 0;
    margin-bottom: 8px;
    background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
  }
  .logo {
    margin-left: 8px;
  }
}

/* Offer */

.offer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0 30px 0 56px;
  box-sizing: border-box;
  background-image: url(./images/bg_offer.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.offer__info {
  width: calc(487/1160 *100%);
  padding: 76px 0;
}

.offer__title {
  margin-bottom: 24px;
}

.offer__site-subtitle {
  min-height: 61.58px;
  margin-top: 12px;
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: visibility .6s, opacity .5s linear;
  animation: show 1s linear;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.offer__site-subtitle_active {
  opacity: 1;
  visibility: visible;
}

@keyframes show {

from {opacity: 0;} to {opacity: 1;}
}

.offer__subtitle {
  margin-bottom: 52px;
  max-width: 439px;
}

.offer__image-container {
  width: calc(555/1160 *100%);
}

.offer__image {
  object-fit: cover;
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: auto;
}

@media (max-width: 1280px) {
  .offer__site-subtitle {
    min-height: 57.19px;
  }
}


@media (max-width: 992px) {
  .offer__title {
    margin-bottom: 12px;
  }
  .offer__subtitle {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .offer__content {
    justify-content: center;
  }
  .offer__info {
    width: 80%;
    padding-top: 0;
    order: 1;
  }
  .offer__image-container {
    width: 80%;
  }
  .offer__image {
    margin-bottom: 16px;
  }
}

@media (max-width: 540px) {
  .offer__content {
    padding: 12px 12px 20px;
  }
  .offer__info {
    width: 100%;
  }
  .offer__image-container {
    width: 87%;
  }
}

/* Problems */

.problems__content {
  padding: 40px;
  box-sizing: border-box;
  background-image: url(./images/bg_problems.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.problems__title {
  margin-bottom: 28px;
}

.problems__list {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.problem {
  background: var(--clr-bg-secondary);
  border-radius: 20px;
  padding: 120px 60px 34px 20px;
  box-sizing: border-box;
  position: relative;
}

.problem::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 20px;
  left: 20px;
}

.problem_type_invitation::before {
  background-image: url(./images/problem-invitation-icon.png);
}

.problem_type_fail::before {
  background-image: url(./images/problem-fail-icon.svg);
}

.problem_type_presentation::before {
  background-image: url(./images/problem-presentation-icon.png);
}

.problem_type_up-to-date::before {
  background-image: url(./images/problem-up-to-date-icon.svg);
}

.problem_type_accent::before {
  background-image: url(./images/problem-accent-icon.png);
}

.problem_type_time::before {
  background-image: url(./images/problem-time-icon.svg);
}

.problem__text {
  color: #000000;
}

@media (max-width: 992px) {
  .problem__text {
    color: #262626;
  }
}

@media (max-width: 540px) {
  .problems__content {
    padding: 20px 12px 21px;
    background-image: url(./images/bg_problems_mobile.png);
  }
  .problems__title {
    margin-bottom: 16px;
  }
  .problems__list {
    gap: 6px;
  }
  .problem {
    border-radius: 5px;
    padding: 56px 10px 12px 12px;
  }
  .problem::before {
    max-height: 32px;
    top: 12px;
    left: 12px;
  }
}

/* Features */

.features__content {
  padding-top: 40px;
  margin-bottom: 12px;
}

.features__title {
  margin-bottom: 20px;
}

.features__list {
  background: var(--clr-bg-primary);
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "experience experience experience"
                       "design customization job-search";
}

.feature {
  background: #FFFFFF;
  border-radius: 12px;
  padding: 32px 23px 223px 32px;
  box-sizing: border-box;
  position: relative;
}

.feature::before,
.feature::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: inherit;
  bottom: 0;
  right: 0;
  background-position: bottom right;
}

.feature_type_experience {
  grid-area: experience;
  display: flex;
  gap: 3%;
  border-radius: 0 0 12px 12px;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 0;
}

.feature_type_design {
  grid-area: design;
  padding-bottom: 117px;
}

.feature_type_customization {
  grid-area: customization;
}

.feature_type_job-search {
  grid-area: job-search;
}

.feature_type_design::before {
  background-image: url(./images/feature-design-icon.png);
}

.feature_type_customization::before {
  background-image: url(./images/feature-customization-icon.png);
}

.feature_type_job-search::before {
  background-image: url(./images/feature-job-search-icon.png);
}

.feature__title {
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.feature:has(.feature__subtitle) .feature__title {
  margin-bottom: 0;
}

.feature:has(.feauture__subtitle) .feauture__title {
  margin-bottom: 10px;
}

.feature__image {
  object-fit: cover;
  display: block;
  width: calc(550/1160 *100%);
  max-width: 100%;
  height: auto;
  margin: auto;
}

.feature__content {
  width: calc(590/1160 *100%);
}

.feature__subtitle {
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
}

.feature__text {
  margin-bottom: 12px;
  position: relative;
  z-index: 1;
  max-width: 400px;
}

.feature_type_experience .feature__text {
  max-width: 537px;
}

.feature__text:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .feature__subtitle {
    font-size: 20px;
  }
  .feature {
    padding: 20px 20px 172px;
  }
  .feature::before {
    background-size: 80%;
  }
  .feature_type_interview {
    padding-bottom: 32px;
  }
}

@media (max-width: 768px) {
  .feature {
    padding: 12px 12px 130px;
  }
  .feature::before {
    background-size: 70%;
  }
  .feature_type_interview {
    padding-bottom: 20px;
  }
}

@media (max-width: 540px) {
  .features__title {
    margin-bottom: 4px;
  }
  .features__list {
    grid-template-columns: 1fr;
    grid-template-areas: "interview"
                         "feedback"
                         "assessment"
                         "time";
  }
  .feature::before {
    top: 15px;
    background-position: top center;
    background-size: inherit;
  }
  .feature {
    padding: 130px 12px 20px;
    border-radius: 5px;
  }
  .feature_type_interview {
    padding-bottom: 20px;
    padding-top: 12px;
    flex-direction: column;
    gap: 12px;
  }
  .feature_type_feedback::before {
    background-image: url(./images/feature-feedback-icon_mobile.png);
  }

  .feature_type_assessment::before {
    background-image: url(./images/feature-assessment-icon_mobile.png);
  }

  .feature_type_time::before {
    background-image: url(./images/feature-time-icon_mobile.png);
  }
  .feature__content {
    width: 100%;
  }
  .feature__image {
    width: 100%;
  }
  .feature__title {
    margin-bottom: 8px;
  }
  .feature__subtitle {
    margin-bottom: 8px;
  }
  .feature__text {
    margin-bottom: 4px;
  }
}

/* Process */

.process__content {
  padding: 40px;
  box-sizing: border-box;
}

.process__title {
  margin-bottom: 32px;
}

.process__button {
  min-width: 164px;
  margin: 0 auto;
  display: block;
}

.process__list {
  margin-bottom: 36px;
}

.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 6px;
  counter-reset: steps-counter 0;
}

.step {
  background: #F8F8F8;
  border-radius: 20px;
  padding: 90px 41px 51px 32px;
  box-sizing: border-box;
  position: relative;
  counter-increment: steps-counter 1;
}

.step::before {
  content: counter(steps-counter);
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #EAEAEA;
  top: 36px;
  left: 32px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #4C75FA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step__title {
  margin-bottom: 12px;
}

@media (max-width: 540px) {
  .process__content {
    padding: 20px 12px;
  }
  .process__title {
    margin-bottom: 16px;
  }
  .process__list {
    margin-bottom: 16px;
  }
  .steps {
    grid-template-columns: 1fr;
  }
  .step {
    border-radius: 5px;
    padding: 72px 10px 20px 8px;
  }
  .step::before {
    top: 20px;
    left: 8px;
  }
  .step__title {
    margin-bottom: 8px;
  }
}

/* Experts */

.experts__content {
  padding: 40px;
  box-sizing: border-box;
  position: relative;
}

.experts__title {
  margin-bottom: 20px;
}

.experts__subtitle {
  margin: 0 auto 28px;
  max-width: 60%;
  text-align: center;
}

.experts__control-buttons {
  position: absolute;
  top: 158px;
  right: 40px;
}

.experts__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6px;
}

.expert {
  background: #EAEAEA;
  border-radius: 12px;
  width: calc(100% / 3 - 4px);
}

.expert__photo-container {
  width: 100%;
  height: 279px;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
  aspect-ratio: 356 / 279;
}

.expert__photo {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.expert__description {
  padding: 20px 10px 18px 20px;
  box-sizing: border-box;
}

.expert__title {
  margin-bottom: 15px;
}

.expert__about {
  list-style-type: disc;
  padding-left: 19px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

@media (max-width: 1280px) {
  .experts__control-buttons {
    top: 144px;
  }
}

@media (max-width: 992px) {
  .experts__control-buttons {
    top: 127px;
  }
  .expert__description {
    padding: 12px 7px 12px 12px;
  }
  .expert__title {
    margin-bottom: 8px;
  }
  .expert__about {
    list-style-type: "•";
    padding-left: 3.5px;
    gap: 4px;
  }
  .expert__info {
    padding-left: 3px;
  }
}

@media (max-width: 768px) {
  .experts__content {
    padding-right: 0;
  }
  .experts__title {
    margin-bottom: 16px;
    padding-right: calc(38.4/768 * 100%);
  }
  .experts__subtitle {
    margin-bottom: 22px;
    padding-right: calc(38.4/768 * 100%);
  }
  .expert {
    width: auto;
  }
  .expert__photo-container {
    height: 166px;
  }
}

@media (max-width: 540px) {
  .experts__content {
    padding: 20px 0 18px 12px;
  }
  .experts__title {
    margin-bottom: 12px;
    max-width: 95%;
    padding-right: calc(13.5/540 * 100%);
  }
  .experts__subtitle {
    margin-bottom: 16px;
    max-width: 95%;
    line-height: 110%;
    padding-right: calc(13.5/540 * 100%);
  }
  .expert {
    border-radius: 5px;
  }
  .expert__photo-container {
    border-radius: 5px 5px 0 0;
  }
}

/* Price */

.price {
  position: relative;
}

.price__background-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc((100vw - 1160px) / 2);
}

.price__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price__content {
  padding: 40px;
  box-sizing: border-box;
  /* background: var(--clr-accent);
  background-image: url(./images/bg_price.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right; */
}

.price__title {
  margin-bottom: 32px;
}

.price__tablist {
  display: flex;
  margin-bottom: 29.52px;
  justify-content: space-between;
  align-items: center;
}

.price__tab {
  flex: 0 0 49.8%;
}

.price__tab-button {
  width: 100%;
  padding: 22px;
  border: 1px solid var(--clr-text-primary);
  border-radius: 12px;
  background-color: var(--clr-white);
  color: var(--clr-text-primary);
}

.price__tab-button[aria-selected="true"] {
  background-color: var(--clr-text-primary);
  color: var(--clr-white);
}

.price__list {
  list-style-type: "•";
  color: white;
  padding-left: 14px;
  margin-bottom: 40px;
  max-width: 368px;
  position: relative;
}

.price-info {
  padding-left: 10px;
}

.price__button {
  position: relative;
}

@media (max-width: 1280px) {
  .price__background-image {
    right: calc(64/1280 * 100%);
  }
}

@media (max-width: 1024px) {
  .price__background-image {
    right: calc(51.2/1024 * 100%);
  }
}

@media (max-width: 992px) {
  .price__list {
    max-width: 264px;
  }
}

@media (max-width: 860px) {
  .price__background-image {
    width: 48%;
    aspect-ratio: 320 / 242;
    top: 50%;
    transform: translate(0, -50%);
  }
}

@media (max-width: 768px) {
  .price__background-image {
    top: -5px;
    left: 50%;
    right: unset;
    bottom: unset;
    transform: translate(-50%);
    width: auto;
  }
  .price__content {
    padding-top: 238px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .price__title {
    margin-bottom: 16px;
  }
  .price__list {
    margin-bottom: 30px;
  }
}

@media (max-width: 640px) {
  .price__background-image {
    width: 320px;
  }
}

@media (max-width: 540px) {
  .price__content {
    padding: 238px 12px 20px 12px;
    align-items: stretch;
  }
  .price__title {
    margin-bottom: 12px;
    font-size: 20px;
    letter-spacing: -0.01em;
  }
  .price__list {
    margin-bottom: 16px;
  }
  .price-info__text {
    letter-spacing: 0.01em;
    line-height: 110%;
  }
}

/* Reviews */

.reviews__content {
  padding: 38px 0px 40px 40px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.reviews__title {
  margin-bottom: 34px;
}

.reviews__control-buttons {
  position: absolute;
  top: 44px;
  right: 40px;
}

.reviews-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}

.reviews-list__item {
  position: relative;
  max-width: 316px;
  max-height: 268px;
  background: var(--clr-white);
  border-radius: 16px;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  flex-shrink: 0;
  overflow: hidden;
}

.reviews-list__item:hover {
  cursor: pointer;
}

.reviews__list-container {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 16px;
}

.reviews__image {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 6px;
  object-fit: cover;
  object-position: center;
}

.reviews__name {
  letter-spacing: 0.02em;
}

.reviews__overlay::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(transparent 0%, #FFFFFF 70%);
  border-radius: 16px;
}

@media (max-width: 768px) {
  .reviews__title {
    margin-bottom: 24px;
  }
}

@media (max-width: 540px) {
  .reviews__content {
    padding: 20px 8px 20px;
  }
  .reviews__title {
    margin-bottom: 16px;
  }
  .reviews-list__item {
    max-width: 260px;
    max-height: 220px;
    padding: 20px 16px 0 8px;
  }
  .reviews__list-container {
    gap: 4px;
    margin-bottom: 8px;
  }
  .reviews__image {
    width: 60px;
    height: 60px;
    border-radius: 5px;
  }
  .reviews__name {
    font-size: 20px;
    line-height: 110%;
    letter-spacing: -1px;
  }
  .reviews__text {
    letter-spacing: normal;
  }
}

/* F.A.Q. */

.faq__content {
  padding: 38px 40px 40px;
  box-sizing: border-box;
}

.question {
  border-bottom: 1.5px solid rgba(38, 38, 38, .6);
  padding: 41px 0;
}

.question__title {
  padding-right: 41px;
  width: 100%;
  text-align: left;
  white-space: pre-wrap;
  letter-spacing: normal;
  color: var(--clr-text-primary);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.question__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("./images/plus-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transition: transform .3s ease-in-out;
}

.question.accordeon__button_active .question__title::after {
  transform: rotate(-45deg);
}

.question.accordeon__button_active .question__content {
  padding-top: 12px;
}

.question__text {
  line-height: 130%;
  letter-spacing: 0;
  padding: 4px 54px 0 0;
}

@media (max-width: 1280px) {
  .question__title::after {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 992px) {
  .faq__title {
    margin-bottom: 8px;
  }
  .question {
    padding: 12px 0;
  }
  .question__title {
    padding-right: 24px;
  }
  .question__title::after {
    width: 15px;
    height: 15px;
  }
  .question__text {
    padding-right: 24px;
  }

  .question.accordeon__button_active .question__content {
    padding-top: 8px;
  }
}

@media (max-width: 540px) {
  .faq__content {
    padding: 20px 12px 21px 12px;
  }
  .question__text {
    padding-top: 0;
    line-height: 120%;
  }
}

/* Accordeon */

@media (hover: hover) {
  .accordeon__button:hover {
    cursor: pointer;
  }
}

.accordeon__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease-in-out, padding-top .5s ease-in-out ;
}

/* Popup */

.popup {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .6);
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  opacity: 0;
}

.transition {
  transition: visibility .6s, opacity .5s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  overscroll-behavior: contain;
}

.popup__container {
  width: 650px;
  margin: auto;
  padding: 25px 40px;
  box-sizing: border-box;
  background-color: var(--clr-white);
  border-radius: 30px;
  position: relative;
}
